/* Carousel CSS */
.carousel {
  margin-top: 2rem;
  width: 75%;
  border-radius: 20px;
  overflow: hidden;
}
.carousel img {
  height: 30rem !important;
  object-fit: cover;
}

/* Category CSS */
.category {
  border: 1px solid #e2eaf0;
  padding: 5px 10px 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  width: 150px;
  height: 90px;
  cursor: pointer;
}
.category:hover {
  -webkit-box-shadow: 0px 8px 16px -1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 8px 16px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 8px 16px -1px rgba(0, 0, 0, 0.27);
}
.category i {
  font-size: 2rem;
}
.category p:last-child {
  font-weight: 400;
  color: #625a5b;
}

/* Slider CSS */
.slider_container {
  padding: 50px 0 60px 150px;
  background-color: #f5f7fa;
}

.slider {
  padding: 50px 0 50px 15%;
  margin: 0 0 -10px;
  position: relative;
  padding-left: 5%;
  overflow: hidden;
}

.slider .main_head {
  font-size: 22px;
  font-weight: 600;
  color: #313131;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  line-height: 1.4;
}
.slider .main_head span {
  display: block;
  font-weight: 400;
}
.slider .main_head::after {
  background-color: #dc3226;
  border-radius: 5px;
  position: absolute;
  bottom: -12px;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  width: 2em;
}

.slider .slide_nav {
  margin: 20px 0;
  position: absolute;
  top: 10%;
  right: 15%;
}
.slider .slide_nav .swipe_left,
.slider .slide_nav .swipe_right {
  transform: rotate(180deg);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #313131;
  padding: 10px 12px;
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
}

.slider .slider_container {
  overflow: visible;
  margin: 0 auto;
  position: relative;
  list-style: none;
  display: flex;
  padding: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.slider .slider_container .swiper_slide {
  width: 255px;
  margin: 0;
  margin-right: 30px;
  padding: 20px 10px;
  border: 1px solid #e2eaf0;
  border-radius: 2px;
  flex-shrink: 0;
  height: 100%;
  position: relative;
}
.slider .slider_container .swiper_slide img {
  width: 100% !important;
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}
.slider .slider_container .swiper_slide h3 {
  color: #313131;
  font-size: 18px;
  margin: 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  line-height: 1.1;
}
.slider .slider_container .swiper_slide ul {
  margin: 10px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.slider .slider_container .swiper_slide ul li {
  list-style: none;
}
.slider .slider_container .swiper_slide ul li p {
  margin: 0;
  font-size: 12px;
  color: #bababa;
  font-weight: 400;
}
.slider .slider_container .swiper_slide ul li p span {
  font-size: 14px;
  color: #313131;
  display: block;
}
.slider .slider_container .swiper_slide ul li .link {
  text-decoration: none;
  padding: 5px 15px;
  color: #dc3226;
  border: 1px solid #dc3226;
  border-radius: 2px;
  display: block;
  margin: 5px 0;
  transition: all 0.2s ease-in;
}
.slider .slider_container .swiper_slide ul li .link:hover {
  background-color: #dc3226;
  color: white;
}

/* Advantage CSS */
.advantage {
  padding: 80px 0;
}

.advantage .container {
  padding: 16px;
  margin: auto;
}

.advantage .container .main_head {
  font-size: 22px;
  font-weight: 600;
  color: #313131;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  line-height: 1.4;
}
.advantage .container .main_head span {
  font-weight: 400;
  display: block;
}
.advantage .container .main_head::after,
.feedback .feedback_container .feedback_box .main_head::after {
  content: "";
  background-color: #dc3226;
  border-radius: 5px;
  width: 2em;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
}

.advantage .container .inner {
  margin: 30px 0 60px;
}
.advantage .container .inner .bed {
  width: 60px;
  height: 60px;
}
.advantage .container .inner h3 {
  font-size: 18px;
  color: #313131;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.advantage .container .inner p {
  font-size: 14px;
  color: #717171;
  font-weight: 400;
  margin: 0 0 10px;
}
.advantage .container .link {
  text-align: left;
  color: #1dbdc0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  text-decoration: none;
}

/* Feedback CSS */
.feedback .feedback_container {
  padding-left: 5%;
  padding: 5% 0 50px 10%;
  margin: 0 0 -10px;
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

.feedback .feedback_container .feedback_box {
  margin: 10px 0;
}
.feedback .feedback_container .feedback_box:last-child {
  margin: -50px 0;
}
.feedback .feedback_container .feedback_box .intro {
  padding: 60px 0;
}
.feedback .feedback_container .feedback_box .intro .main_head {
  font-size: 22px;
  font-weight: 600;
  color: #313131;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  line-height: 1.4;
}
.feedback .feedback_container .feedback_box .intro .main_head span {
  display: block;
  font-weight: 400;
}
.feedback .feedback_container .feedback_box .intro p {
  font-size: 18px;
  color: #717171;
  width: 50%;
  font-weight: 400;
  margin: 0 0 10px;
}

.feedback .feedback_container .feedback_box .intro .slide_nav {
  margin: 20px 0;
}
.feedback .feedback_container .feedback_box .intro .slide_nav .swipe_left,
.feedback .feedback_container .feedback_box .intro .slide_nav .swipe_right {
  width: 44px;
  height: 44px;
  border: 1px solid #313131;
  border-radius: 50%;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 0 0;
  transition: all 0.2s ease;
}

.feedback .feedback_container .feedback_box .swiper_container {
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 60px 0;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}
.feedback .feedback_container .feedback_box .swiper_container .swiper_warpper {
  height: 619px;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container {
  width: 452px;
  margin-right: 20px;
  padding: 50px 0;
  height: auto;
  flex-shrink: 0;
  position: relative;
  border-radius: 10px;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .arrow {
  position: absolute;
  right: 40px;
  top: -50px;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .slide {
  padding: 80px 40px 40px;
  background-color: #f5f7fa;
  border-radius: 16px;
  margin: 0 40px 0 0;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .slide
  .user_details
  ul {
  display: flex;
  align-items: center;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .slide
  .user_details
  ul
  li {
  list-style: none;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .slide
  .user_details
  ul
  li
  img {
  max-width: 82px;
  border-radius: 50%;
  display: block;
  height: auto;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .slide
  .user_details
  ul
  li
  h4 {
  font-size: 18px;
  color: #313131;
  margin: 0 0 0 15px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
}
.feedback
  .feedback_container
  .feedback_box
  .swiper_container
  .swiper_warpper
  .slider_container
  .slide
  p {
  min-height: 260px;
  font-size: 14px;
  margin: 24px 0 10px;
  color: #717171;
  font-weight: 400;
}
