.Header {
  background-color: cadetblue;
}
.navbar-brand {
  width: 6rem;
}

.search {
  width: 30rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: none !important;
  background: rgb(246, 248, 250);
  transition: background-color 0.3s ease-in-out;
}

.search:hover {
  background-color: #fff;
}

.search-btn {
  right: 2%;
  color: rgb(107, 108, 109);
  border: none !important;
  box-shadow: none !important;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart a {
  text-decoration: none;
}
.cart span {
  color: black;
  margin-left: 0.2rem;
  font-weight: light;
}

.login {
  margin-left: 1.5rem;
  border-radius: 10px;
  border-color: #ebd700;
  color: #ebd700;
}
.login:hover {
  background-color: #ebd700;
  color: #000;
  border-color: #ebd700;
}