.main_footer {
  background: #f5f7fa;
  padding: 50px 0 20px;
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.main_footer .upper_footer {
  margin-bottom: 25px;
}
.main_footer .upper_footer .footer_content {
  overflow: hidden;
  color: #717171;
  transition: all 0.2s ease-in-out;
}
.main_footer .upper_footer .footer_content h1,
.main_footer .upper_footer .footer_content h2 {
  font-size: 14px !important;
  color: #717171;
  font-weight: 500;
  background: transparent !important;
  margin: 25px 0 0;
  line-height: 1.1;
  text-transform: capitalize;
  z-index: 999;
}
.main_footer .upper_footer .footer_content p {
  color: #717171 !important;
  font-weight: 200;
  font-size: 12px !important;
  margin: 0 0 12px;
  background: transparent !important;
  text-align: justify;
}
.main_footer .upper_footer .footer_content ul {
  text-align: justify;
  padding: 0;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}
.main_footer .upper_footer .footer_content ul li {
  list-style: square inside;
  color: #9e9e9e;
  font-weight: 300;
  font-size: 12px;
}
.main_footer .upper_footer .footer_content ul li a {
  color: #717171;
}

.main_footer .upper_footer .read {
  margin: 0;
  font-size: 12px !important;
  cursor: pointer;
  margin-top: 16px !important;
}
.main_footer .upper_footer .read span {
  font-weight: 200;
}
.main_footer .upper_footer .read i {
  font-size: 8px !important;
}

.main_footer .footer_links h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #313131;
  margin: 0 0 20px;
  line-height: 1.1;
}
.main_footer .footer_links ul {
  padding: 0 0 8px;
  margin-top: 0;
  margin-bottom: 10px;
}
.main_footer .footer_links ul li {
  margin: 10px 0;
  list-style: none;
}
.main_footer .footer_links .link {
  color: #717171;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.main_footer .footer_links span {
  font-weight: 400;
}
.main_footer .footer_links ul li a {
  color: #717171;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.main_footer .footer_links .chat {
  text-decoration: none;
  border: 1px solid #313131;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  max-width: 184px;
  text-align: left;
  display: flex;
  width: 36%;
}
.main_footer .footer_links .contact_options {
  display: block !important;
  position: relative;
  margin: 0 !important;
  padding: 0 0 15px 30px;
  padding-left: 0;
}

.main_footer .Footer_line .block {
  border-bottom: 1px solid #e6e6e6;
}

.main_footer .footer_copyright {
  text-align: center;
  padding: 0;
  display: block;
}
.main_footer .footer_copyright .footer_copyright_container {
  padding: 15px;
}
.main_footer .footer_copyright .footer_copyright_container .row {
  padding-left: 15px;
  padding-right: 15px;
}
.main_footer .footer_copyright .footer_copyright_container .footer_links {
  line-height: 1.5;
}
.main_footer .footer_copyright .footer_copyright_container p {
  color: #717171;
  font-size: 12px;
  text-align: left;
  margin: 15px 0;
  font-weight: 400;
}
.main_footer .footer_copyright ul {
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
}
.main_footer .footer_copyright ul li:first-child {
  margin-left: 0;
}
.main_footer .footer_copyright ul li {
  margin: 0;
  display: inline-block;
  list-style: none;
}
.main_footer .footer_copyright ul li a {
  border: 1px solid #717171;
  background-color: #f5f7fa;
  border-radius: 50%;
  width: 40px;
  display: block;
  color: #717171;
  transform: scale(0.8);
  text-decoration: none;
}
.main_footer .footer_copyright ul li a span {
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2em;
  vertical-align: middle;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_footer .footer_copyright .go_up {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  line-height: 1.5;
}
.main_footer .footer_copyright .go_up a {
  text-decoration: none;
}
